<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headinc :: head"></head>
<body>
	<!-- preloader area start -->
	<div id="preloader">
		<div class="loader"></div>
	</div>
	<!-- page container area start -->
	<div class="page-container">
		<div th:replace="fragments/sidebar :: sidebar"></div>
		<!-- main content area start -->
		<div class="main-content">
			<div th:replace="fragments/header-area :: header-area"></div>
			<!-- page title area start -->
			<div class="page-title-area">
				<div class="row align-items-center">
					<div class="col-sm-6">
						<div class="breadcrumbs-area clearfix">
							<h4 class="page-title pull-left">Dashboard</h4>
							<ul class="breadcrumbs pull-left">
								<li><a th:href="@{/}">Home</a></li>
								<li><span>PROYECTOS DE TESIS</span></li>
							</ul>
						</div>
					</div>
					 <div th:replace="fragments/user-profile :: user-profile"></div>
				</div>
			</div>
			<!-- page title area end -->
			<div class="main-content-inner">
				<div class="row">
					<!-- data table start -->
					<div class="col-12 mt-5">
						<div class="card">
							<div class="card-body">
								<h4 class="header-title" th:text="${titulo}"></h4>
								<a th:href="@{/trabajo/form}"
									class="btn btn-outline-primary btn-xs"><i
									class="fa fa-plus-circle"></i> Asignar Proyecto de TESIS</a>
								<hr />
								<div class="data-tables datatable-primary">
									<table id="dataTable" class="table text-center progress-table table-hover table-striped" width="100%">
										<thead class="text-capitalize">
											<tr>
												<th>Titulo Trabajo</th>
												<th>Tipo Trabajo</th>
												<th>Escuela</th>
												<th>Estado</th>
												<th>Autores</th>
												<th>Archivos</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="trabajo : ${trabajo}">
												<td th:text="${trabajo.nombre}"></td>
												<td th:text="${trabajo.tipoTrabajo}"></td>
												<td th:text="${trabajo.escuela.nombreEscuela}"></td>
												<td>
												<span th:if="${trabajo.habilitado == true}" class="status-p bg-warning" th:text="'Iniciado'"></span>
                                            	<span th:if="${trabajo.habilitado != true}" class="status-p bg-success" th:text="'Terminado'"></span>
												</td>
												<td>
												<button th:if="${trabajo.habilitado == true}" id="adjuntarAutores" th:idTrabajo="${trabajo.trabajoId}" class="btn btn-outline-primary btn-xs">
												<i class="fa fa-plus-circle"></i> Asignar Autores</button>
												</td>
												<td>
												<button th:if="${trabajo.habilitado == true}" id="adjuntarArchivos" th:idTrabajo="${trabajo.trabajoId}" class="btn btn-outline-primary btn-xs">
												<i class="fa fa-files-o"></i> Adjuntar archivo</button>
												</td>
												<td>
													<div class="btn-group" role="group" aria-label="Basic example">
														<a th:href="@{/trabajo/detail/} + ${trabajo.trabajoId}"  class="btn btn-outline-info btn-xs"><i class="fa fa-eye" title="Ver"></i></a>
                                            			<a th:if="${trabajo.habilitado == true}" th:href="@{/trabajo/form/} + ${trabajo.trabajoId}"  class="btn btn btn-outline-primary btn-xs"><i class="fa fa-pencil" title="Editar"></i></a>
                                            			<button th:if="${trabajo.habilitado == true}" id="disabledTrabajo" th:idTrabajo="${trabajo.trabajoId}" class="btn btn-outline-danger btn-xs">
                                            			<i class="fa fa-close" title="Deshabilitar"></i></button>
                                            			<button th:if="${trabajo.habilitado != true}" id="enabledTrabajo" th:idTrabajo="${trabajo.trabajoId}" class="btn btn-outline-success btn-xs">
                                            			<i class="fa fa-check" title="Habilitar"></i></button>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<!-- data table end -->
				</div>
			</div>
		</div>
		<!-- main content area end -->
		<footer th:replace="fragments/footer :: footer"></footer>
	</div>
	<!-- page container area end -->
	<th:block th:replace="fragments/script :: script"></th:block>
</body>
</html>