<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headinc :: head"></head>
<body>
	<!-- preloader area start -->
	<div id="preloader">
		<div class="loader"></div>
	</div>
	<!-- page container area start -->
	<div class="page-container">
		<div th:replace="fragments/sidebar :: sidebar"></div>
		<!-- main content area start -->
		<div class="main-content">
			<div th:replace="fragments/header-area :: header-area"></div>
			<!-- page title area start -->
			<div class="page-title-area">
				<div class="row align-items-center">
					<div class="col-sm-6">
						<div class="breadcrumbs-area clearfix">
							<h4 class="page-title pull-left">Dashboard</h4>
							<ul class="breadcrumbs pull-left">
								<li><a th:href="@{/}">Home</a></li>
								<li><span>Investigadores</span></li>
							</ul>
						</div>
					</div>
					<div th:replace="fragments/user-profile :: user-profile"></div>
				</div>
			</div>
			<!-- page title area end -->
			<div class="main-content-inner">
				<div class="row">
					<!-- data table start -->
					<div class="col-12 mt-5">
						<div class="card">
							<div class="card-body">
								<h4 class="header-title" th:text="${titulo}"></h4>				
								<h5 class="text-center">Investigadores Responsable (s): </h5>
								<hr/>
								<div class="data-tables">
									<table id="dataTable" class="text-center progress-table table-hover table-striped" width="100%"
											th:if="${not #lists.isEmpty(investigadores)}">
										<thead class="bg-primary text-capitalize">
											<tr>
												<th>#</th>
												<th>Investigador</th>
												<th>Facultad</th>
												<th>Condicion</th>
												<th>Informes Trimestrales</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="investigador : ${investigadores}">
												<td th:text="${investigador.asignacionDetalleId}"></td>
												<td th:text="${investigador.investigador}"></td>
												<td th:text="${investigador.facultad.abreviaturaFacultad}"></td>
												<td th:text="${investigador.condicion.nombreCondicion}"></td>
												<td>
													<button id="adjuntarInformeTrimestral" th:idAsignacionDetalle="${investigador.asignacionDetalleId}" 
													class="btn btn-outline-primary btn-sm"><i class="fa fa-files-o"></i> Adjuntar Informes Trimestrales</button>
												</td>
												<td>
													<div class="btn-group" role="group">
														<button id="detalleInvestigador" th:idAsignacionDetalle="${investigador.asignacionDetalleId}"
															data-toggle="modal" class="btn btn-outline-info btn-xs"><i class="fa fa-eye" title="Ver"></i></button> 
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="alert-items" th:if="${#lists.isEmpty(investigadores)}">
									<div class="alert alert-primary my-2" role="alert">
										Aun no hay Investigadores adjuntados al Proyecto de Investigacion: <strong th:text="${investigacion.nombreInvestigacion}"></strong>
									</div>
								</div>
								<a class="btn btn-outline-primary btn-sm" th:href="@{/informeTrimestral/investigaciones}">
								<i class="fa fa-arrow-circle-o-left"></i> Volver</a>
							</div>
						</div>
					</div>
					<!-- data table end -->
					<div class="modal fade" id="modalDetalleInvestigador">
                     	<div class="modal-dialog modal-lg" role="document">
                        	<div class="modal-content">
                            	<div class="modal-header">
                                 	<h5 class="modal-title" id="titleDetalleInvestigadorModal"></h5>
                                    	<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                </div>
                                <div class="modal-body">
                                	<table class="table text-center table-hover" style="width: 760px; margin: 0 auto;">
									<thead class="bg-primary text-capitalize">
										<tr>
											<th>Investigador</th>
											<th>Facultad</th>
											<th>Condicion</th>
										</tr>
									</thead>
									<tbody id="contenidoInvestigadores">
									</tbody>
									</table>
									<h5 class="text-center my-2">Informe Trimestral (es): </h5>
									<table id="tablaInvestigadoresInformesTrimestrales" class="table text-center table-hover table-striped" style="width: 760px; margin: 0 auto;">
										<thead class="bg-primary text-capitalize">
											<tr>
												<th>#</th>
												<th>Descripcion</th>
												<th>Trimestre</th>
												<th>Fichero</th>
												<th>Acciones</th>
											</tr>
										</thead>
										<tbody id="contenidoInvestigadoresInformesTrimestrales">
										</tbody>
									</table>
									<div class="alert-items">
										<div class="alert alert-primary my-2" role="alert" id="alertDetalleInvestigadoresInformesTrimestrales">
										</div>
									</div>
                                 </div>
                                 <div class="modal-footer">
                                  	<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                 </div>
                               </div>
                            </div>
                         </div>
				</div>
			</div>
		</div>
		<!-- main content area end -->
		<footer th:replace="fragments/footer :: footer"></footer>
	</div>
	<!-- page container area end -->
	<th:block th:replace="fragments/script :: script"></th:block>
</body>
</html>