<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>

	 <!-- footer area start-->
        <footer th:fragment="footer">
            <div class="footer-area">
                <p>
               		Este proyecto fue desarrollado en IDE STS(Spring Tools Suite). &copy; Company 2017, Inc. Todos los derechos
			reservados. Terminos de uso y privacidad.
               	</p>
            </div>
        </footer>
        <!-- footer area end-->

</body>
</html>